<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mobbing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
    
      <h1>Status</h1>
      <h3 style="color:red">
        <% if( status ) { %>
          <%= status %>: 
          <% if( username ) { %>
            username = <%= username %><br>
          <% } %>
        <% } %>
      </h3>
      <% if( username ) { %>
        <form method="GET" action="/login">
          <input type="submit" name="submit" value="Logout"><br>
        </form>
      <% } %>

      <h1>Login</h1>
      <h3 style="color:red">
        <% if( login_message ) { %>
          <%= login_message %><br>
        <% } %>
      </h3>
      <form method="POST" action="/login" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" name="pass" class="form-control" placeholder="Password">
        </div>
        <button type="submit" name="submit" value="Login" class="btn btn-primary">Login</button>
      </form>

      <h1>Sign up</h1>
      <h3 style="color:red">
        <% if( register_message ) { %>
          <%= register_message %><br>
        <% } %>
      </h3>
      <form method="POST" action="/login" class="form-signin" role="form">
        <input type="text" name="mail" class="form-control" placeholder="Email address">
        <input type="text" name="name" class="form-control" placeholder="Username">
        <input type="password" name="pass" class="form-control" placeholder="Password">
        <input type="submit" name="submit" value="Register" class="btn btn-primary btn-block">
      </form>

    </div> <!-- /container -->

  </body>
</html>