<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mobbing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/index.css' />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>



    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Mobbing</a>
        </div>
        <div class="navbar-collapse collapse">
          <form method="POST" action="/login" class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" name="name" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pass" placeholder="Password" class="form-control">
            </div>
            <button type="submit" name="submit" value="Login" class="btn btn-success">Login</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="jumbotron">
            <h1>Mobbing</h1>
            <p>Mobbing とは，イベントを通じてユーザー同士がリアルタイムで状態を共有するサービスです．</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <% if( login_message ) { %>
            <div class="alert alert-danger">
              <%= login_message %>
            </div>
          <% } %>
          <h2>Register</h2>
          <% if( register_message ) { %>
            <div class="alert alert-danger">
              <%= register_message %>
            </div>
          <% } %>
          <form method="POST" action="/login" class="form-signin" role="form">
            <input type="text" name="mail" class="form-control" placeholder="Email address">
            <input type="text" name="name" class="form-control" placeholder="Username">
            <input type="password" name="pass" class="form-control" placeholder="Password">
            <input type="submit" name="submit" value="Register" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  </body>
</html>