body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Event View */
#game_field {
    border: 1px solid gray;
    float: left;
}

ul {
    list-style-type: none;
    float: left;
}

li.me {
    font-weight: bold;
    color: #ea157a;
}