body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Event View */
#game_field {
    width: 100%;
    border: 1px solid gray;
}

ul {
    list-style-type: none;
}

li.me {
    font-weight: bold;
    color: #ea157a;
}

.kbd {
    height: 41px;
    min-width: 41px;
    padding: 0 10px;
    margin: 5px 10px;
    background: #FFF;
    border-radius: 4px;
    border-top: 1px solid #F5F5F5;
    box-shadow: 0 0 25px #E8E8E8 inset, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333333;
    color: #666;
    text-shadow: 0 1px 0 #F5F5F5;
    font: 20px arial;
    text-align: center;
    line-height: 41px;
    display: inline-block;
}

.notify {
    display: block;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
    font-size: 10em;
    text-shadow: 1px 1px 10px #13FFE3;
    color: #35E5F5;
    text-align: center;
    opacity: 0;
}

.notify.small {
    font-size: 3em;
}

.fadeinout {
    -webkit-animation: fadeinout 2s ease 0 1 normal;
    -moz-animation: fadeinout 2s ease 0 1 normal;
    -o-animation: fadeinout 2s ease 0 1 normal;
    -ms-animation: fadeinout 2s ease 0 1 normal;
}

@-webkit-keyframes fadeinout {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@-moz-keyframes fadeinout {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@-o-keyframes fadeinout {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@-ms-keyframes fadeinout {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}
